/* ul {
  margin: 0 auto;
  padding: 0 auto;
} */
/* li {
  width: 29.6%;
  float: left;
} */


.meal {
    width : 29.8%;
    float : left;
    padding: 15px;
    background-color:#ececec;
    border-radius:10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    /* display: flex; */
    /* justify-content: space-between; */
    margin: 1rem;
    padding-bottom: 1rem;
    /* border-bottom: 1px solid #ccc; */
  }

  .meal h3 {
    font-size: 1rem;
    margin: 0 0 0.25rem 0;
  }
  
  .description {
    font-style: italic;
  }
  
  .price {
    margin-top: 0.25rem;
    font-weight: bolder;
    color: #8b1713;
    font-size: 1rem;
  }

